{% extends 'backend/admin_base.html' %}
{% block content %}

<h2 class="mb-4">All Cart Items</h2>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th>#</th>
        <th>User</th>
        <th>Product</th>
        <th>Image</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th>Added At</th>
    </tr>
</thead>
<tbody>
    {% for item in cart_items %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.user.email }}</td>
        <td>{{ item.product.name }}</td>
        <td>
            {% if item.product.image %}
                <img src="{{ item.product.image.url }}" width="60" height="60" alt="{{ item.product.name }}">
            {% else %}
                N/A
            {% endif %}
        </td>
        <td>{{ item.quantity }}</td>
        <td>₹{{ item.product.price|floatformat:2 }}</td>
        <td>₹{{ item.total_price|floatformat:2 }}</td>
        <td>{{ item.added_at|date:"d m Y" }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="8" class="text-center">No cart items.</td>
    </tr>
    {% endfor %}
</tbody>

</table>

{% endblock %}
